.main
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main__item
{
  //background: orange;
  //padding: 10px;
  margin-right: 5px;
}

div {
  max-width: 1000px;
}

label-block input, label {
  display:block;
}
