.main
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main__item
{
  //background: orange;
  //padding: 10px;
  margin-right: 5px;
}

div {
  max-width: 1200px;
}

label-block input, label {
  display:block;
}

.list-group{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
}

.list-group-item{
  min-width: 150px;
  padding-left: 2em;
  margin-left: 0.2em;
}

.sprint-list{
  height: 300px;
  width: 100%;
  overflow: auto;
  border: 1px solid black;
}

.sprint-list-item {
  height: 48px; // має відповідати itemSize
  display: flex;
  align-items: center;
}

ul.zebra-list li:nth-child(even) {
  background-color: #f8f9fa; /* світло-сірий */
}
