<app-filters (search)="onSearch($event)" [reload]="reloadTasks"></app-filters>

<div *ngIf="loading">
    <span class="spinner-border spinner-border-sm mr-1"></span>
</div>
<div *ngIf="!loading && tasks && tasks.length">
    <div class="my-2" *hasPermission="[permissions.notify]">
      <button [disabled]="loadingStoryPoints" *ngIf="storySprintEmpty && storySprintEmpty.length" (click)="updateStoryPoints()">Оновити поінти задачі</button>
    </div>
    <table border="1">
        <tr>
            <th class="col">Спрінт</th>
            <th class="col">Задача</th>
            <th class="col">Розробник</th>
            <th class="col">Поінти розробника</th>
            <th class="col">Тестувальник</th>
            <th class="col">Поінти тестувальника</th>
            <th class="col">Поінти задачі</th>
            <th class="col">Спрінти</th>
        </tr>

        <tr *ngFor="let item of tasks">
            <td class="col">{{item.sprintName}}</td>
            <td class="col"><a [href]="item.link" target="_blank" rel="noopener">{{item.key}}</a></td>
            <td class="col">{{item.devName}}</td>
            <td class="col">{{item.pointDev}}</td>
            <td class="col">{{item.testName}}</td>
            <td class="col">{{item.pointTest}}</td>
            <td class="col">{{item.pointStory}}</td>
            <td class="col">{{item.sprintsName}}</td>
        </tr>

    </table>
</div>
