<app-filters (search)="onSearch($event)" [reload]="reloadTasks"></app-filters>

<div *ngIf="loading">
    <span class="spinner-border spinner-border-sm mr-1"></span>
</div>
<div *ngIf="!loading && tasks && tasks.length">
    <div class="my-2" *hasPermission="[permissions.notify]">
      <button [disabled]="loadingStoryPoints" *ngIf="storySprintEmpty && storySprintEmpty.length" (click)="updateStoryPoints()">Оновити поінти задачі</button>
    </div>
    <table border="1">
        <tr>
            <th>Спрінт</th>
            <th>Задача</th>
            <th>Розробник</th>
            <th>Поінти розробника</th>
            <th>Тестувальник</th>
            <th>Поінти тестувальника</th>
            <th>Поінти задачі</th>
            <th>Спрінти</th>
        </tr>

        <tr *ngFor="let item of tasks">
            <td>{{item.sprintName}}</td>
            <td>{{item.key}}</td>
            <td>{{item.devName}}</td>
            <td>{{item.pointDev}}</td>
            <td>{{item.testName}}</td>
            <td>{{item.pointTest}}</td>
            <td>{{item.pointStory}}</td>
            <td>{{item.sprintsName}}</td>
        </tr>

    </table>
</div>
